<div class="container" ng-controller="AuftragCtrl">
  <div class="panel panel-default">
    <div class="panel-heading"><a href="#/">Kampagne</a> / {{setParams.Auftragsnummer}}_{{setParams.Auftragsposition}}</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <legend>Datum</legend>
          <table datatable="ng" class="row-border hover">
            <thead>
              <tr>
                <th>Datum</th>
                <th>Auftragsnummer</th>
                <th>Auftragsposition</th>
                <th>imp_iq</th>
                <th>view_iq</th>
                <th>click_iq</th>
                <th>ctr_iq</th>
                <th>imp_ad</th>
                <th>click_ad</th>
                <th>ctr_ad</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="dkampagne in datumkampagnes">
                <td>{{dkampagne.datum}}</td>
                <td>{{dkampagne.Auftragsnummer}}</td>
                <td>{{dkampagne.Auftragsposition}}</td>
                <td>{{dkampagne.imp_iq_diff | number : fractionSize}}</td>
                <td>{{dkampagne.view_iq_diff | number : fractionSize}}</td>
                <td>{{dkampagne.click_iq_diff | number : fractionSize}}</td>
                <td>{{dkampagne.ctr_iq | number:2}} %</td>
                <td>{{dkampagne.imp_ad_diff | number : fractionSize}}</td>
                <td>{{dkampagne.click_ad_diff | number : fractionSize}}</td>
                <td>{{dkampagne.ctr_ad | number:2}} %</td>
              </tr>
            </tbody>
          </table>
          <hr>
          <legend>Monat</legend>
          <table datatable="ng" class="row-border hover">
            <thead>
              <tr>
                <th>Monat</th>
                <th>Auftragsnummer</th>
                <th>Auftragsposition</th>
                <th>imp_iq</th>
                <th>view_iq</th>
                <th>click_iq</th>
                <th>ctr_iq</th>
                <th>imp_ad</th>
                <th>click_ad</th>
                <th>ctr_ad</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="mkampagne in monatkampagnes">
                <td>{{mkampagne.datum}}</td>
                <td>{{mkampagne.Auftragsnummer}}</td>
                <td>{{mkampagne.Auftragsposition}}</td>
                <td>{{mkampagne.imp_iq_diff | number : fractionSize}}</td>
                <td>{{mkampagne.view_iq_diff | number : fractionSize}}</td>
                <td>{{mkampagne.click_iq_diff | number : fractionSize}}</td>
                <td>{{mkampagne.ctr_iq | number:2}} %</td>
                <td>{{mkampagne.imp_ad_diff | number : fractionSize}}</td>
                <td>{{mkampagne.click_ad_diff | number : fractionSize}}</td>
                <td>{{mkampagne.ctr_ad | number:2}} %</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
